
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 3em;
    margin: 0.3em;
    font-weight: 300;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1.8em;
    margin: 0.3em;
    font-weight: 300;
}

p {
    font-size: 1.2em;
}

/* Navigation bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 4em;
  background-color: white;
  position: fixed;
  width: 100%;
}

ul {
    display: grid;
    grid-template-columns: 6em auto repeat(6, 6em);
    align-items: center;
}

li:hover {
    color: #d35400;
    transition: 0.5s;
}

.item-1 {
    justify-self: end;
}

.item-2 {
    justify-self: start;
}

.item-3 {
    justify-self: center;
}

/* main - section 1 - Introducing Karma */

.introduction {
    background-image: url(/HTML-CSS-Coursework-Week2/img/first-background.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
}

.learn-more {
    margin: 3em;
    padding: 1em 2em 1em 2em;
    background-color: #d35400;
    border-radius: 10px;
    border: none;
}

.learn-more:hover {
    font-weight: 500;
    transition: 0.5s
}

/* section 2 - grid */

.featured {
    text-align: center;
    padding: 3em;
}

.icons {
    display: flex;
    align-content: stretch;
    align-items: baseline;
    justify-content: space-around;
    flex: auto;
}

/* Footer */

.social-media {
    border-top: solid 1px rgb(211, 211, 211);
    text-align: center;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.twitter, .facebook, .instagram {
  height: 20px;
  border: solid 1px grey;
  border-radius: 25px;
  padding: 12px;
  }

#mobility-inc {
    color: grey;
    font-size: 0.8em;
}


  /* Media queries */

  @media screen and (max-width: 733px) {
    h1 {
        width: 6em;
    }
    
    h3 {
        width: 10em;
    }

    /* ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    } */

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: baseline;
    }
    
    .icon-devices, .icon-coffee, .icon-refill {
        width: 100%;
        text-align: center;
        padding-top: 2em;
    }
  }




